.prompt-input {
    font-size: 1.5rem;
    background-color: #313131;
    border: none;
    outline: none;
}
.prompt-box {
    background-color: #313131;
    padding-block: 0.75rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto 3rem;
    padding-inline: 1.5vw;
    border-radius: 15px;
}

.chat-container {
    display: grid;
    justify-content: space-evenly;
    min-height: 90%;
}

.submit-img {
    justify-content: center;
    height: 3rem;
    position: relative;
}
.question-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
